@font-face {
    font-family: "new";
    src: url(../方正喵呜体.ttf);
    font-weight: 400;
    font-style: normal;
}



#choice { 
    font-family: new;
    color: #e89c69; 
    font-size: 200px;  
    text-align: center;
    margin: 75px auto 120px auto;
    width: 230px; 
}

#start {   
    font-family: new;
    border: solid #b2b1b1 4px;
    color: #e89c69;
    width: 230px; 
    margin: 10px auto 10px auto;
    text-align: center;
    font-size: 40px; 
    padding: 10px; 
}
