@font-face {
    font-family: 'new';
    src: url('../方正喵呜体.ttf');
    font-weight: normal;
    font-style: normal;
}
#container{
    position: relative;
    background: #FFFFFF;
    width: 10rem;
    height: 16rem ;
    background-size:cover;
}
#choice{
    /*background: url(../images/sheep.gif);*/
    font-family:new;
    position:absolute;
    top: 3rem;
    left: 2.6rem;

    color: #e89c69;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5rem;
}

#start{
    /*background: url(../images/sheep.gif);*/
    font-family:new;
    position:absolute;
    top: 13rem;
    left: 3rem;
    border: solid #B2B1B1 10px;
    color: #e89c69;
    padding: 25px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
}

#gameWithoutNet:active{
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}
#gameWithNet:active{
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}
#gameHelp:active{
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

